@media screen and (min-width: 320px) and (max-width: 1045px) {
  .right-search-holder {
    display: none !important;
  }
  .search-icon-responsive {
    display: block !important;
  }
}

@media screen and (min-width: 1045px) {
  .search-icon-responsive {
    display: none !important;
  }
}
